body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

#contenedor-scroll {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

#curso {
  margin: 5px 0;
}
